.menu-btn {
  position: absolute;
  z-index: 3;
  top: 30px;
  right: 30px;
  cursor: pointer;
  @include m1;

  .btn-lines {
    width: 25px;
    height: 5px;
    background-color: #fff;
    margin-bottom: 5px;
    @include m1;
  }
  // rotate into x with menu lines
  &.close {
    transform: rotate(180deg);

    .btn-lines {
      // Line 1 - Rotate
      &:nth-child(1) {
        transform: rotate(45deg) translate(7px, 7px);
      }

      // Line 2 - Hide
      &:nth-child(2) {
        opacity: 0;
      }

      // Line 3 - Rotate
      &:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
      }
    }
  }
}
